.navbar-fixed-top {
	background-color: #59CDAC;
}

dl dd {
	display: inline-block;
}

.logo{
	width: 80%;
	height: auto;
}
.box{
	background-color: #307B7B;
	color: #EEF5F5;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.row a{
	text-decoration: none;
}

.box:hover{
	background-color: #59CDAC;
}

.subtitle{
	font-weight: lighter;
	color: #BBB;
}



.jumbotron {
	border: white;
}

#index-bottom-box a {

}

.banner {
	left: 500;
}

#profile-column-left {
	text-align:left;
}

#profile-column-middle {
	text-align:left;
}

#profile-column-right {
	text-align:left;
	background-color: white;
	padding: 5px;
	margin-top: 10px;
}

.suggestion {
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;

}

/*form dl dt {
	display: inline-block;
}*/

.form-wrap {
	padding: 0px;
}

.signup-list {
	list-style-type: none;
}

.form-left{
	text-align:left;
	display:inline-block;
	width:250px;
	padding:5px;

}

.form-right {
	display:inline-block;
	margin-left: 10px;
}

container {
	margin: 0px;
}

.navbar-brand {
	list-style-type: none;
}

.list-group-item {
	text-align: left;
}

.table td {
	text-align: left;
}

.panel-default .panel-heading {
	background-color: #307B7B;
}

.panel-default .panel-heading h2{
	color: #EEF5F5;
}

#login_table .tr {
	font-weight: normal;
}

table {
	border-color: red;
}

#search-all {
	display: inline-block;
}

#editability {
	display: inline-block;
	margin-left: 300px;
	z-index: 1;
}

body {
	background-color: #F8F8F1;
}


#doula-profile-pic {
	margin: 5px;
}


#signup_table .tr {
	font-weight: normal;
}

/*a .editable {
	color: black;
}*/