
.login-bar {
	width: 900px;
	height: 25px;
	background-color: #D1E0E0;

}

div#login {
	font-family: "Arial", sans-serif;
	margin-left: 800px;
	padding: 1px;
	background-color: purple;
}

.header {
	width: 900px;
	height: 200px;
	position: absolute;
	background-color: red;

}

.navbar {
	width: 900px;
	height: 40px;
	background-color: #59CDAC;
	position: absolute;
	margin-top: 200px;
}

.navbar-collapse {
	background-color: #59CDAC;
}


.navbar-fixed-top {
	background-color: #59CDAC;
}


.navbar-inverse {
	background-color: #59CDAC;
}

.container {
	width: 900px;
	height: 500px;
	display: inline-block;
	background-color: #006B6B;
	position: absolute;
	margin-top: 240px;
 
}

#single-box-outer {
	width:800;
	height: 100%;
	margin-left: 50px;
	background-color: white;
}

#single-box-inner {
	position: absolute;
	left: 40%;
/*	margin-left:-350px;*/
	width:700px;
	height:100%;

}

#left-container {
	width: 250px;
	height: 490px;
	position: absolute;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	background-color: green
}
#mid-container {
	width: 450px;
	height: 490px;
	position: absolute;
	margin-left: 260px;
	margin-right: 5px;
	margin-top: 5px;
	background-color: purple;

}

#right-container {
	width: 180px;
	height: 490px;
	position: absolute;
	margin-left: 715px;
	margin-top: 5px;
	background-color: orange;
}