{% extends 'logged-in-base.html' %}

{% block body %}

<div class="container">
	<div id="editability">
    {% if current_user == doula %}
      <button id="enable" class="btn btn-default">edit profile</button>
    {% endif %}
  </div>
  <div class="row">
  		<div class="col-md-3 col-sm-4" id="profile-column-left">
  			<div id="doula-profile-pic"> <img width="150" src="/static/images/uploads/AvivaLipkowitz.jpg"> 
        </div>
  			<div id="calendar" width="150"> 
          <img src="/static/images/calendar.png" width="150">
          <p>Calendar of availability</p>
        </div>
  		</div>

  		<div class="col-md-6 col-sm-8" id="profile-column-middle">
  			<!-- all the jinja is place-holder, i have NOT decided on variable names yet -->
  			<h2>
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-name="firstname" data-original-title title data-url="/doula_edit" data-title="Enter your first name">{{ doula.firstname }}
          </a>
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-name="lastname" data-original-title title data-url="/doula_edit" data-title="Enter your last name">{{ doula.lastname }}
          </a>
        </h2>
  			<h4> Website</h4> 
          <a href="{{ doula.website }}">{{ doula.website }}</a>
          {% if current_user == doula %}
          <span class="glyphicon glyphicon-pencil"></span>
          <!--  Still have to figure out where all this fits in
          <a href="#" class="editable" data-type="text" pata-pk="{{ doula.id }}" data-name="website" data-original-title title data-url="/doula_edit" data-title="Enter your website URL">
          </a> -->
          {% endif %}
          
  			<h4> Phone </h4>
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-name="phone" data-original-title title data-url="/doula_edit" data-title="Enter your phone number"> {{ doula.phone }}</a>
  			<h4> Price </h4> 
          <a href="#" class="editable" data-type="number" data-pk="{{ doula.id }}" data-name="price_min" data-original-title title data-url="/doula_edit" data-title="Enter your minimum price">${{ doula.price_min }}</a>
          to 
          <a href="#" class="editable" data-type="number" data-pk="{{ doula.id }}" data-original-title title data-name="price_max" data-url="/doula_edit" data-title="Enter your maximum price">${{ doula.price_max }}</a>
  			<h4> Background </h4> 
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-original-title title data-name="background" data-url="/doula_edit" data-title="Describe your background">{{ doula.background }}</a>
  			<h4> Services Provided </h4> 
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-original-title title data-name="services" data-url="/doula_edit" data-title="Describe what services you provide">{{ doula.services }} </a>
  			<h4> Location </h4> 
          Zip:<a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-original-title title data-name="zipcode" data-url="/doula_edit" data-title="Enter your zipcode"> {{ doula.zipcode }}</a>
  		</div>

  		<div class="col-md-3 col-sm-12" id="profile-column-right">
        <p>Similar Doulas</p>
        {% for doula in suggested_doula_list %}
  			<div class="doula-suggestion col-md-12 col-sm-4">
          <div class="col-sm-6" id="suggestion-1-thumb"> 
            <img width=50 src="/static/images/uploads/{{ doula.image }}">
            <p> {{ doula.firstname }} {{ doula.lastname }}</p>
          </div>
          <div class="col-sm-6" id="suggestion-1-desc"> 
            <p>{{ doula.zipcode }}<p>
          </div>
        </div>
        {% endfor %}
      </div>
	</div>
</div>

{% endblock %}
<!-- Javascript to turn on editability -->

{% block script %}
 <!-- preferably keep this just on the pages that are editable (profile pages) -->
  if doula == curent_user:  
    <script>
      {% if current_user == doula %}
        $.fn.editable.defaults.mode = 'popup';

        $(document).ready(function() {
        
          //assume server response: 200 Ok {status: 'error', msg: 'field cannot be empty!'}
          // $('.editable').editable();

          $('#enable').click(function() {
            $('.editable').editable('toggleDisabled');
          })
        });
      {% endif %}
    </script>

{% endblock %}