{% extends 'logged-in-base.html' %}

{% block body %}

<div class="container">
	<div id="editability">
    {% if current_user == doula %}
      <button id="enable" class="btn btn-default">edit profile</button>
    {% endif %}
  </div>
  
  <div class="row">
    <div class="col-xs-12">

    <div>

  </div>




  <div class="row">
  		<div class="col-sm-5 col-md-4" id="profile-column-left">
  			<div class="col-xs-12" id="doula-profile-pic"> 
          {% if doula.image != None %}
            <img width="250" src="/static/images/uploads/{{ doula.image }}"> 
          {% else %}
            <img width="250" src="/static/images/uploads/default.jpg">
          {% endif %}
        </div>
  			<div class="col-xs-12" style="text-align:center"><h4>Calendar of availability</h4></div>
        <div class="col-xs-12" id="calendar" width="150"></div>
  		</div>

  		<div class="col-sm-7 col-md-5" id="profile-column-middle">
  			<!-- all the jinja is place-holder, i have NOT decided on variable names yet -->
  			<h2>
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-name="firstname" data-original-title title data-url="/doula_edit" data-title="Enter your first name">{{ doula.firstname }}
          </a>
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-name="lastname" data-original-title title data-url="/doula_edit" data-title="Enter your last name">{{ doula.lastname }}
          </a>
        </h2>
  			<h4> Website</h4> 
          <a href="{{ doula.website }}">{{ doula.website }}</a>
          {% if current_user == doula %}
          <span class="glyphicon glyphicon-pencil"></span>
          <!--  Still have to figure out where all this fits in
          <a href="#" class="editable" data-type="text" pata-pk="{{ doula.id }}" data-name="website" data-original-title title data-url="/doula_edit" data-title="Enter your website URL">
          </a> -->
          {% endif %}
          
  			<h4> Phone </h4>
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-name="phone" data-original-title title data-url="/doula_edit" data-title="Enter your phone number"> {{ doula.phone }}</a>
  			<h4> Price </h4> 
          <a href="#" class="editable" data-type="number" data-pk="{{ doula.id }}" data-name="price_min" data-original-title title data-url="/doula_edit" data-title="Enter your minimum price">${{ doula.price_min }}</a>
          to 
          <a href="#" class="editable" data-type="number" data-pk="{{ doula.id }}" data-original-title title data-name="price_max" data-url="/doula_edit" data-title="Enter your maximum price">${{ doula.price_max }}</a>
  			<h4> Background </h4> 
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-original-title title data-name="background" data-url="/doula_edit" data-title="Describe your background">{{ doula.background }}</a>
  			<h4> Services Provided </h4> 
          <a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-original-title title data-name="services" data-url="/doula_edit" data-title="Describe what services you provide">{{ doula.services }} </a>
  			<h4> Location </h4> 
          Zip:<a href="#" class="editable" data-type="text" data-pk="{{ doula.id }}" data-original-title title data-name="zipcode" data-url="/doula_edit" data-title="Enter your zipcode"> {{ doula.zipcode }}</a>
  		</div>

  		<div class="col-xs-12 col-md-3" id="profile-column-right">
        {% if suggested_doula_list != None %} 
          <div class="col-xsm-12">
            <h4 style="text-align: center">Similar Doulas</h4>
          </div>
            {% for s_doula in suggested_doula_list %}
          		{% if doula.id == s_doula.id %}
                <br>
              {% else %}	
                <div class="suggestion col-xs-4 col-md-12">
                  <div class="col-sm-6" id="suggestion-thumb"> 
                    <img style="margin:2" width=50 src="/static/images/uploads/{{ s_doula.image }}">
                  </div>
                  <div class="col-sm-6" id="suggestion-desc">
                    <p> <a href="/doula/{{ s_doula.id }}">{{ s_doula.firstname }} {{ s_doula.lastname }}</a>
                      {{ s_doula.zipcode }}
                    </p>
                    <br>
                  </div>
                </div>
              {% endif %}
          {% endfor %}
        {% endif %}
      </div>
	</div>
</div>

{% endblock %}


{% block script %}

    <script>  
      $(function() {
        $( "#calendar" ).datepicker({ defaultDate: "{{ due_date }}" });
      });
    </script>

     <!-- preferably keep this just on the pages that are editable (profile pages) -->
    <script>
      {% if current_user == doula %}
        $.fn.editable.defaults.mode = 'popup';

        $(document).ready(function() {
        
          //assume server response: 200 Ok {status: 'error', msg: 'field cannot be empty!'}
          // $('.editable').editable();

          $('#enable').click(function() {
            $('.editable').editable('toggleDisabled');
          })
        });
      {% endif %}
    </script>

{% endblock %}