<html>
	<head>
		<title>BirthTree</title>
	</head>

	<body>
		<div class="login-bar">
			<div id="login"><a href="/login">Login</a>
			</div>

		</div>
		<div class="header"><img src="static/images/doula_header.jpg">
			<a href="/logout">logout</a>
			test header
		</div>
		</div>
		<div class="navbar">
		</div>

		<div class="container">
			<div id="single-box-outer">
				<div id="single-box-inner">
					{% block body %}
					<p> test paragraph </p>
					{% endblock %}
				</div>
			</div>

		</div>

	</body>
	
	<source>
	</source>

</html>
