{% extends 'logged-out-base.html' %}

{% block body %}


<div class="panel panel-default">
	<div class="panel-heading"><h2>Log In</h2>
	</div>
	<table class="table" id="login_table">
		<form action="/login{% if next %}?next={{ next }}{% endif %}" method="post">
			<tr>
				<td>What type of DoulaHooper are you?</td>
				<td>
					<input type="radio" name="role" value="doula"> Doula
					<input type="radio" name="role" value="parent"> Parent
				</td>
			<tr>
				<td>Email</td>
				<td><input type="text" name="email"></td>
			<tr>
				<td>Password</td>
				<td><input type="password" name="password"><td>
			<tr>
				<td> </td>
				<td><input type="submit" value="Login"></td>
		</form>
  	</table>
</div>



{% endblock %}