<html>
	<head>
		<title>BirthTree</title>
		<link rel="stylesheet" href="static/styles.css"/>
	</head>

	<body>
		<div class="login-bar">
			<div id="login"><a href="/login">Login</a>
			</div>

		</div>
		<div class="header"><img src="static/images/doula_header.jpg">
			<a href="/logout">logout</a>
			test header
		</div>
		</div>
		<div class="navbar">
		</div>

		<div class="container">
			<div id="left-container">
				test left container
			</div>
			<div id="mid-container">
				{% block body %}
				<p> test paragraph </p>
				{% endblock %}
			</div>
			<div id="right-container">
				test right container
			</div>

		</div>

	</body>
	
	<source>
	</source>

</html>
