{% extends 'logged-out-base.html' %}


{% block body %}
<h2>Find doulas in your area</h2>
	<form action="/search" method="post">
		<!--??? what do dl and dd and dt do? ??? -->
		 
		<p>Find all doulas within
				<select name="zip_radius">
					<option value="5">5</option>
					<option value="10">10</option>
					<option value="25">25</option>
				</select>
				miles of zipcode
				<input type="search" name="doula_zip_search" placeholder="zipcode">
				<input type="submit" value="Search">
		</p>
	</form>


	<p>Or,
	<form id="search-all" action="/list_all" method="post">
		<input type="submit" value="list all doulas">
	</form>
	</p>
{% endblock %}