{% extends 'logged-out-base.html' %}

{% block body %}
	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }} 
	{% endif %}
	
	<div class="panel panel-default">
		<div class="panel-heading">
		<h2>Doula Sign Up</h2>
	</div>
	<table class="table" id="login_table">
		<form action="signup_doula" enctype="multipart/form-data" method="post">
			<tr>
				<td>First name:</td>
				<td><input type="text" name="firstname"></td>
			<tr>
				<td>Last name:</td>
				<td><input type="text" name="lastname"></td>
			<tr>
				<td>Name of your practice (if you have one):</td>
				<td><input type="text" name="practice"></td>

			<tr>
				<td>Email:</td>
				<td><input type="email" name="email"></td>
			<tr>
				<td>Password:</td>
				<td><input type="password" name="password"></td>
			<tr>
				<td>Confirm password:</td>
				<td><input type="password" name="password_again"></td>
			<tr>
				<td>Phone number:</td>
				<td><input type="tel" name="phone"></td>
			<tr>
				<td>Website:</td>
				<td><input type="text" name="website"></td>
			<tr>
				<td>Price range:</td>
				<td>
					From <input type="number" name="price_min">
					<br> To <input type="number" name="price_max">
				</td>
			<tr>
				<td>Give us some background about yourself:</td>
				<td><textarea name="background" rows="5" cols="50"></textarea></td>
			<tr>
				<td>What services do you provide?</td>
				<td><textarea name="services" rows="5" cols="50"></textarea></td>
			<tr>
				<td>Zipcode:</td>
				<td><input type="text" name="zip"><</td>
			<tr>
				<td>Upload a profile picture</td>
				<td><input type="file" name="image" accept="image/*"></td>
			<tr>
				<td></td>
				<td><input type="submit" value="Sign Up"></td>

		</form>
	</table>
</div>


{% endblock %}