{% extends 'logged-out-base.html' %}

{% block body %}

	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }} 
	{% endif %}


<div class="panel panel-default">
	<div class="panel-heading">
		<h2>Parent Sign Up</h2>
	</div>
	<table class="table" id="login_table">
		<form action="signup_parent" enctype="multipart/form-data" method="post">
			<tr>
				<td>First name:</td>
				<td><input type="text" name="firstname"></td>
			<tr>
				<td>Last name:</td>
				<td><input type="text" name="lastname"></td>
			<tr>
				<td>Display name for profile page:</td>
				<td><input type="text" name="display_name"></td>
			<tr>
				<td>Email:</td>
				<td><input type="email" name="email"></td>

			<tr>
				<td>Password:</td>
				<td><input type="password" name="password"></td>
			<tr>
				<td>Confirm password:</td>
				<td><input type="password" name="password_again"></td>
			<tr>
				<td>Zipcode:</td>
				<td><input type="text" name="zip"></td>
			<tr>
				<td>When is your baby due?:</td>
				<td><input type="date" name="due_date"></td>
			<tr>
				<td>How much are you looking to spend on your doula?</td>
				<td>From: <input type="number" name="price_min"> 
					<br><br>To:     <input type="number" name="price_max"></td>
			<tr>
				<td>Give us some background about yourself:</td>
				<td><textarea name="background" rows="5" cols="50"></textarea></td>
			<tr>
				<td>Describe your ideal doula. Any specific services you're looking for? Experience level?</td>
				<td><textarea name="ideal_nar" rows="5" cols="50"></textarea></td>

			<tr>
				<td>Visibility settings: Who would you like to be able to see your profile?</td>
				<td><select name="visibility">
							<dd><option value="all">Doulas and other parents</option>
		  					<dd><option value="doulas">Doulas only</option>
		  					<dd><option value="none">No one, I'm just here to contact others</option>
		  		</td>
			<tr>
				<td>Upload a profile picture</td>
				<td><input type="file" name="image" accept="image/*"></td>
			<tr>
				<td></td>
				<td><input type="submit" value="Sign Up"></td>


		</form>
	</table>


{% endblock %}