{% extends 'logged-out-base.html' %}

{% block body %}

	<h2>Sign Up as a Doula</h2>
	{% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}
	<form action="signup_doula" enctype="multipart/form-data" method="post">
		<!--??? what do dl and dd and dt do? ??? -->
		<!-- Add do this a checklist of the services a doula might provide for doula_services table -->
		<ul class="signup-list"> 
			<li class="form-wrap"><div class="form-left">First name:</div>
				<div class="form-right"><input type="text" name="firstname"></div>
			</li>
			<li class="form-wrap"><div class="form-left">Some really long category name:</div>
				<div class="form-right"><input type="text" name="firstname"></div>
			</li>
			<p><dt>Last name: <dd><input type="text" name="lastname"></p>
			<dt>Name of your practice (if you have one):
			<dd><input type="text" name="practice">
			<dt>Email:
			<dd><input type="email" name="email">
			<dt>Password:
			<dd><input type="password" name="password">
			<dt>Type your password again:
			<dd><input type="password" name="password_again">
			<dt>Phone number:
			<dd><input type="tel" name="phone">
			<dt>website:
			<dd><input type="text" name="website">
			<dt>Price range: From
			<dd><input type="number" name="price_min">
			<dt>To:
			<dd><input type="number" name="price_max">
			<dt>Give us some background about yourself:
			<dd><input type="text" name="background" style="width:300px; height:100px">
			<dt>What services do you provide?
			<dd><input type="text" name="services" style="width:300px; height:100px">
			<dt>Zipcode:
			<dd><input type="text" name="zip">
			<dt>Upload a profile picture
			<dd><input type="file" name="image" accept="image/*">

			<dt>
			<dd><input type="submit" value="Sign Up">
		</dl>
	</form>


{% endblock %}