{% extends 'logged-out-base.html' %}

{% block body %}

	<h2>Sign Up as a Parent</h2>
	{% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}

	<form action="signup_parent" enctype="multipart/form-data" method="post">
		<!--??? what do dl and dd and dt do? ??? -->
		<dl> 
			<dt>First name: 
			<dd><input type="text" name="firstname">
			<dt>Last name: 
			<dd><input type="text" name="lastname">
			<dt>Display name for profile page:
			<dd><input type="text" name="display_name">
			<dt>Email:
			<dd><input type="email" name="email">
			<dt>Password:
			<dd><input type="password" name="password">
			<dt>Type your password again:
			<dd><input type="password" name="password_again">
			<dt>Zipcode:
			<dd><input type="text" name="zip">
			<dt>When is your baby due?:
			<dd><input type="date" name="due_date">
			<dt>How much are you looking to spend on your doula? From:
			<dd><input type="number" name="price_min">
			<dt>To:
			<dd><input type="number" name="price_max">
			<dt>Give us some background about yourself:
			<dd><input type="text" name="background" style="width:300px; height:100px">
			<dt>Describe your ideal doula. Any specific services you're looking for? Experience level?
			<dd><input type="text" name="ideal_nar" style="width:300px; height:100px">
			<dt>Visibility settings:
			<dt>Who would you like to be able to see your profile?
			<select name="visibility">
			<dd><option value="all">Doulas and other parents</option>
  			<dd><option value="doulas">Doulas only</option>
  			<dd><option value="none">No one, I'm just here to contact others</option>
  			</select>
			<dt>Upload a profile picture
			<dd><input type="file" name="image" accept="image/*">
			<dt>
			<dd><input type="submit" value="Sign Up">
		</dl>
	</form>


{% endblock %}