{% extends 'logged-out-base.html' %}

{% block body %}

	<h2>Sign Up as a Doula</h2>
	{% if error %}<p class="error"><strong>Error:</strong> {{ error }} {% endif %}
	<form action="signup_doula" enctype="multipart/form-data" method="post">
		<!--??? what do dl and dd and dt do? ??? -->
		<!-- Add do this a checklist of the services a doula might provide for doula_services table -->
		<ul class="signup-list"> 
			<li class="form-wrap">
				<div class="form-left">First name:</div>
				<div class="form-right"><input type="text" name="firstname"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">Last name:</div>
				<div class="form-right"><input type="text" name="lastname"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">Name of your practice (if you have one):</div>
				<div class="form-right"><input type="text" name="practice"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">Email:</div>
				<div class="form-right"><input type="email" name="email"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">Password:</div>
				<div class="form-right"><input type="password" name="password"></div>
			</li>
			
			<li class="form-wrap">
				<div class="form-left">Confirm password:</div>
				<div class="form-right"><input type="password" name="password_again"></div>
			</li>
			
			<li class="form-wrap">
				<div class="form-left">Phone number:</div>
				<div class="form-right"><input type="tel" name="phone"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">Website:</div>
				<div class="form-right"><input type="text" name="website"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">Price range: From</div>
				<div class="form-right"><input type="number" name="price_min"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left"> to </div>
				<div class="form-right"><input type="number" name="price_max"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">Give us some background about yourself:</div>
				<div class="form-right"><input type="text" name="background" style="width:300px; height:100px"></div>
			</li>

			<li class="form-wrap">
				<div class="form-left">What services do you provide? </div>
				<div class="form-right"><input type="text" name="services" style="width:300px; height:100px"></div>
			</li>
			
			<li class="form-wrap">
				<div class="form-left">Zipcode:</div>
				<div class="form-right"><input type="text" name="zip"></div>
			</li>
			
			<li class="form-wrap">
				<div class="form-left">Upload a profile picture</div>
				<div class="form-right"><input type="file" name="image" accept="image/*"></div>
			</li>
			
			<li class="form-wrap">
				<div class="form-left"><input type="submit" value="Sign Up"></div>
			</li>
		</ul>
	</form>


{% endblock %}