{% extends 'logged-in-base.html' %}


{% block body %}

<div class="container">
  <div id="editability">
    <button id="enable" class="btn btn-default">edit profile</button>
  </div>
  <div class="row">
      <div class="col-md-4 col-sm-5" id="profile-column-left">
        <div id="parent-profile-pic"> <img width="150" src="/static/images/uploads/parent_{{ parent.id }}.jpg"> 
        </div>
        <div id="calendar" width="150"> 
          <p>Due Date: {{ due_date }}</p>
        </div>
      </div>

      <div class="col-md-5 col-sm-7" id="profile-column-middle">
        <!-- all the jinja is place-holder, i have NOT decided on variable names yet -->
        <h2> 
          <a href="#" class="editable" data-type="text" data-pk="{{ parent.id }}" data-name="firstname" data-original-title title data-url="/parent_edit" data-title="Enter your first name">{{ parent.firstname }} </a>
          <a href="#" class="editable" data-type="text" data-pk="{{ parent.id }}" data-name="lastname" data-original-title title data-url="/parent_edit" data-title="Enter your last name">{{ parent.lastname }} </a>
        <h4> Zipcode </h4> 
          <a href="#" class="editable" data-type="text" data-pk="{{ parent.id }}" data-name="zipcode" data-original-title title data-url="/parent_edit" data-title="Enter your zipcode">{{ parent.zipcode }}
        <h4> Price </h4> 
          <a href="#" class="editable" data-type="number" data-pk="{{ parent.id }}" data-name="price_min" data-original-title title data-url="/parent_edit" data-title="Enter the minimum you'd like to pay">${{ parent.price_min }}</a>
          to <a href="#" class="editable" data-type="number" data-pk="{{ parent.id }}" data-name="price_max" data-original-title title data-url="/parent_edit" data-title="Enter the maximum you'd like to pay">${{ parent.price_max }}</a>
        <h4> Background </h4> 
          <a href="#" class="editable" data-type="text" data-pk="{{ parent.id }}" data-name="background" data-original-title title data-url="/parent_edit" data-title="Give some background about yourself">{{ parent.background }}</a>
        <h4> Ideal Provider </h4> 
          <a href="#" class="editable" data-type="text" data-pk="{{ parent.id }}" data-name="ideal_nar" data-original-title title data-url="/parent_edit" data-title="Describe your ideal doula">{{ parent.ideal_doula_nar }} </a>
      </div>

      <div class="col-md-3 col-sm-12" id="profile-column-right">
        <p>Similar Parents</p>
        <div class="parent-suggestion col-md-12 col-sm-4">
          <div class="col-sm-6" id="suggestion-1-thumb"> 
            <img width=50 src="/static/images/uploads/AvivaLipkowitz.jpg">
            <p>Parent1</p>
          </div>
          <div class="col-sm-6" id="suggestion-1-desc"> 
            <p>Name</p>
            <p>location<p>
          </div>
        </div>

        <div class="parent-suggestion col-md-12 col-sm-4">
          <div class="col-sm-6" id="suggestion-2-thumb"> 
            <img width=50 src="/static/images/uploads/AvivaLipkowitz.jpg">
            <p>Parent2</p>
          </div>
          <div class="col-sm-6" id="suggestion-2-desc"> 
            <p>Name</p>
            <p>location<p>
          </div>
        </div>
        <div class="parent-suggestion col-md-12 col-sm-4">
          <div class="col-sm-6" id="suggestion-3-thumb"> 
            <img width=50 src="/static/images/uploads/AvivaLipkowitz.jpg">
            <p>Parent3</p>
          </div>
          <div class="col-sm-6" id="suggestion-3-desc"> 
            <p>Name</p>
            <p>location<p>
          </div>
        </div>
      </div>
  </div>
</div>


{% endblock %}

{% block script %}
    <script>  
      $(function() {
        $( "#calendar" ).datepicker({ defaultDate: "{{ due_date }}" });
      });
    </script>

    <script>
      $.fn.editable.defaults.mode = 'popup';

      $(document).ready(function() {
      
        //assume server response: 200 Ok {status: 'error', msg: 'field cannot be empty!'}
        $('#enable').click(function() {
          $('.editable').editable('toggleDisabled');

        })
      });
    </script>
{% endblock %}

